body {
    padding: 3.2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    color: #BDBDBD;
    font-size: 1.4rem;
}

// Input Focus
input:focus {
    outline: none;
}

// Global Classes
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:70em) {
    body {
        padding-top: 6rem;
    }
    .hero-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        .items {
            width: 383px;
            max-height: 535px;
            order: 2;
            margin-top: 0;
        }
        .hero {
            margin-right: 112px ;
            max-width: 465px;
            .section-name {
                margin-top: 0;
            }
        }
    }
}